.product-grid{
    display: grid;
    grid: auto / repeat(1, 1fr);
    grid-gap: 40px 20px;
}

.grid-product {
    justify-self: center;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: black;
}

.grid-product img{
    width:  100%;
    height: 100%;
    object-fit: cover;
} 