.productContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage{
    width: 95%;
}

.imageSelectors{
    display: flex;
}

.imageSelectors img{
    width:100px;
}

.sizes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.cartDropDown{
    width: 200px;
    height: 200px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    /* position: -webkit-sticky; */
    position: absolute;
    top: 100px;
    right: 1px;
    border: 2px solid white;
}

.cartDropDown img{
    width: 80px;
    margin-right: 5px;
}

.productButton{
    text-decoration: none;
    color: black;
}

.cartDropContent{
    display: flex;
    align-items: center;
    height: 80px;
    padding-bottom: 20px;
}

.hideDropDown{
    display: none;
}

.cartDropDown {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.addToCart{
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 5px;   
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#sizes{
    width: 300px;
    height: 50px;
    background-color: #f2f2f2;
}

select{
    cursor: pointer;
}


.soldOut{
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 5px;   
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.productTitle{
    text-align: center;
}

@media only screen and (min-width: 798px){
    .Product{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}