.Header{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerLogo{
    width: 200px;
}

.bottomHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.hamburger{
    width:25px;
    margin-left: 15px;
}

.hamburgerButton{
    background-color: white;
    border: none;
}

.cartButton{
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.menu{
    display: none;
}

.menuLinks{
    text-decoration: none;
    color: black;
    margin: 15px;
}

.showMenu{
    position: absolute;
    top: 85px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
    opacity: 0.85;
    transition: width 2s;
}