.Footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: black solid 1px;
  }

  .Footer img{
    width: 15px;
    position: fixed;
    left: 10px;
    bottom: 10px;
  }

